<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.framework.sys.mapper.SysOrgMapper">

    <resultMap type="com.ecommerce.framework.sys.entity.SysOrg" id="SysOrgResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="orgType" column="org_type"/>
        <result property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
        <result property="orgLevel" column="org_level"/>
        <result property="orgAddress" column="org_address"/>
        <result property="orgPathCode" column="org_path_code"/>
        <result property="orgPathName" column="org_path_name"/>
        <result property="lng" column="lng"/>
        <result property="lat" column="lat"/>
    </resultMap>

    <sql id="selectSysOrgVo">
        select t.id, t.parent_id,t.org_type,t.org_code,t.org_name,t.org_level,t.org_address,t.org_path_code,t.org_path_name,t.lng,t.lat from sys_org t
    </sql>

    <select id="selectSysOrgList" parameterType="com.ecommerce.framework.sys.entity.SysOrg" resultMap="SysOrgResult">
        <include refid="selectSysOrgVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="parentId != null ">and parent_id = #{parentId}</if>
            <if test="orgType != null ">and org_type = #{orgType}</if>
            <if test="orgCode != null  and orgCode != '' ">and org_code = #{orgCode}</if>
            <if test="orgName != null  and orgName != '' ">and org_name = #{orgName}</if>
            <if test="orgLevel != null ">and org_level = #{orgLevel}</if>
            <if test="orgAddress != null  and orgAddress != '' ">and org_address = #{orgAddress}</if>
            <if test="orgPathCode != null  and orgPathCode != '' ">and org_path_code = #{orgPathCode}</if>
            <if test="orgPathName != null  and orgPathName != '' ">and org_path_name = #{orgPathName}</if>
            <if test="lng != null ">and lng = #{lng}</if>
            <if test="lat != null ">and lat = #{lat}</if>
        </where>
    </select>


</mapper>